* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #111;
    color: #eee;
}

header {
    background: #000;
    padding: 20px 0;
    border-bottom: 1px solid #222;
}

.nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
     color: #32ff7e;
     font-size: 26px;
     font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu a {
    text-decoration: none;
    color: #eee;
    font-size: 16px;
    transition: 0.3s;
}

.menu a:hover {
    color: #32ff7e;
}

.hero {
    width: 90%;
    margin: 60px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content {
    max-width: 500px;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 15px;
    color: #32ff7e;
}

.hero p {
    font-size: 18px;
    color: #ccc;
}

.hero-img {
    width: 280px;
    height: 280px;
    border-radius: 20px;
    object-fit: cover;
    border: 2px solid #32ff7e;
}

.sobre,
.projetos,
.contato {
    width: 90%;
    margin: 80px auto;
    text-align: center;
}

.sobre p {
    margin-top: 20px;
    color: #ccc;
    font-size: 18px;
    line-height: 1.6;
}

.projetos-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.card {
    background: #181818;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #222;
    text-align: center;
    transition: 0.3s;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    margin: 15px 0 5px;
    color: #32ff7e;
}

.card p {
    font-size: 15px;
    color: #bbb;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    background: #32ff7e;
    color: #000;
    padding: 8px 15px;
    border-radius: 8px;
    transition: 0.3s;
}

.card a:hover {
    background: #00d86d;
}

footer {
    background: #000;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #222;
    margin-top: 40px;
}

footer p {
    color: #777;
}

/* RESPONSIVIDADE MOBILE */

@media (max-width: 800px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-img {
        margin-top: 25px;
    }

    .projetos-grid {
        grid-template-columns: 1fr;
    }

    .menu {
        gap: 15px;
    }
}
